/* line 5, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-ms-viewport {
  width: device-width;
}
/* line 24, sass/mixins/_responsive-utilities.scss */
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important;
}

/* line 31, sass/helpers/_responsive-utilities.scss */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  /* line 7, sass/mixins/_responsive-utilities.scss */
  .visible-xs {
    display: block !important;
  }

  /* line 10, sass/mixins/_responsive-utilities.scss */
  table.visible-xs {
    display: table;
  }

  /* line 13, sass/mixins/_responsive-utilities.scss */
  tr.visible-xs {
    display: table-row !important;
  }

  /* line 16, sass/mixins/_responsive-utilities.scss */
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  /* line 49, sass/helpers/_responsive-utilities.scss */
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  /* line 54, sass/helpers/_responsive-utilities.scss */
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  /* line 59, sass/helpers/_responsive-utilities.scss */
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  /* line 7, sass/mixins/_responsive-utilities.scss */
  .visible-sm {
    display: block !important;
  }

  /* line 10, sass/mixins/_responsive-utilities.scss */
  table.visible-sm {
    display: table;
  }

  /* line 13, sass/mixins/_responsive-utilities.scss */
  tr.visible-sm {
    display: table-row !important;
  }

  /* line 16, sass/mixins/_responsive-utilities.scss */
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  /* line 68, sass/helpers/_responsive-utilities.scss */
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  /* line 73, sass/helpers/_responsive-utilities.scss */
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  /* line 78, sass/helpers/_responsive-utilities.scss */
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  /* line 7, sass/mixins/_responsive-utilities.scss */
  .visible-md {
    display: block !important;
  }

  /* line 10, sass/mixins/_responsive-utilities.scss */
  table.visible-md {
    display: table;
  }

  /* line 13, sass/mixins/_responsive-utilities.scss */
  tr.visible-md {
    display: table-row !important;
  }

  /* line 16, sass/mixins/_responsive-utilities.scss */
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1000px) and (max-width: 1299px) {
  /* line 87, sass/helpers/_responsive-utilities.scss */
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  /* line 92, sass/helpers/_responsive-utilities.scss */
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  /* line 97, sass/helpers/_responsive-utilities.scss */
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1300x) {
  /* line 7, sass/mixins/_responsive-utilities.scss */
  .visible-lg {
    display: block !important;
  }

  /* line 10, sass/mixins/_responsive-utilities.scss */
  table.visible-lg {
    display: table;
  }

  /* line 13, sass/mixins/_responsive-utilities.scss */
  tr.visible-lg {
    display: table-row !important;
  }

  /* line 16, sass/mixins/_responsive-utilities.scss */
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1300x) {
  /* line 106, sass/helpers/_responsive-utilities.scss */
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1300x) {
  /* line 111, sass/helpers/_responsive-utilities.scss */
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1300x) {
  /* line 116, sass/helpers/_responsive-utilities.scss */
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  /* line 24, sass/mixins/_responsive-utilities.scss */
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  /* line 24, sass/mixins/_responsive-utilities.scss */
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1000px) and (max-width: 1299px) {
  /* line 24, sass/mixins/_responsive-utilities.scss */
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1300x) {
  /* line 24, sass/mixins/_responsive-utilities.scss */
  .hidden-lg {
    display: none !important;
  }
}
/* line 24, sass/mixins/_responsive-utilities.scss */
.visible-print {
  display: none !important;
}

@media print {
  /* line 7, sass/mixins/_responsive-utilities.scss */
  .visible-print {
    display: block !important;
  }

  /* line 10, sass/mixins/_responsive-utilities.scss */
  table.visible-print {
    display: table;
  }

  /* line 13, sass/mixins/_responsive-utilities.scss */
  tr.visible-print {
    display: table-row !important;
  }

  /* line 16, sass/mixins/_responsive-utilities.scss */
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
/* line 150, sass/helpers/_responsive-utilities.scss */
.visible-print-block {
  display: none !important;
}
@media print {
  /* line 150, sass/helpers/_responsive-utilities.scss */
  .visible-print-block {
    display: block !important;
  }
}

/* line 157, sass/helpers/_responsive-utilities.scss */
.visible-print-inline {
  display: none !important;
}
@media print {
  /* line 157, sass/helpers/_responsive-utilities.scss */
  .visible-print-inline {
    display: inline !important;
  }
}

/* line 164, sass/helpers/_responsive-utilities.scss */
.visible-print-inline-block {
  display: none !important;
}
@media print {
  /* line 164, sass/helpers/_responsive-utilities.scss */
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  /* line 24, sass/mixins/_responsive-utilities.scss */
  .hidden-print {
    display: none !important;
  }
}
@media (max-width: 767px) {
  /* line 179, sass/helpers/_responsive-utilities.scss */
  .text-align-center-small-screens {
    text-align: center;
  }
}

/* line 1, sass/core/_base-structure.scss */
.aog-max-size-container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1130px;
  margin: 0 auto;
  position: relative;
}
/* line 2, sass/mixins/_m-clearfix.scss */
.aog-max-size-container:before, .aog-max-size-container:after {
  content: " ";
  display: block;
}
/* line 9, sass/mixins/_m-clearfix.scss */
.aog-max-size-container:after {
  clear: both;
}

/* line 1, sass/core/_base-style.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, sass/core/_base-style.scss */
*, *:before, *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 9, sass/core/_base-style.scss */
a {
  text-decoration: none;
}

/* line 1, sass/core/_css-util.scss */
.no-margin-top {
  margin-top: 0;
}

/* line 4, sass/core/_css-util.scss */
.no-margin-left {
  margin-left: 0;
}

/* line 7, sass/core/_css-util.scss */
.no-margin-right {
  margin-right: 0;
}

/* line 10, sass/core/_css-util.scss */
.no-margin-bottom {
  margin-bottom: 0;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/Anonymous_Pro.ttf");
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro-webfont.svg#AnonymousPro") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Anonymous Pro Bold";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/Anonymous_Pro_Bold.ttf");
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro_b-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro_b-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro_b-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro_b-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro_b-webfont.svg#AnonymousProBold") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Bebas Neue";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_regular.otf");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_regular-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_regular-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_regular-webfont.svg#Bebasneue") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Bebas Neue Bold";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_bold.otf");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_bold-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_bold-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_bold-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_bold-webfont.svg#Bebasneue") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Bebas Neue Book";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_book-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_book-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_book-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_book-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_book-webfont.svg#Bebasneue") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Bebas Neue Light";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_light-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_light-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_light-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_light-webfont.svg#Bebasneue") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Bebas Neue Thin";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_thin-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_thin-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_thin-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_thin-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_thin-webfont.svg#Bebasneue") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Latin Modern Roman";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Latin-Modern-Roman/lmroman10-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Latin-Modern-Roman/lmroman10-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Latin-Modern-Roman/lmroman10-regular-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Latin-Modern-Roman/lmroman10-regular-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Latin-Modern-Roman/lmroman10-regular-webfont.svg#LatinRomanModenr") format("svg");
  /* Legacy iOS */
}
/* line 1, sass/components/_taskbar.scss */
.taskbar {
  background-color: #003c7f;
  padding: 24px 0;
  border-bottom: 3px solid #00305b;
}

/* line 7, sass/components/_taskbar.scss */
.logo-header {
  text-align: center;
}
/* line 9, sass/components/_taskbar.scss */
.logo-header a {
  display: inline-block;
}
@media (min-width: 768px) {
  /* line 7, sass/components/_taskbar.scss */
  .logo-header {
    float: left;
  }
}
@media (max-width: 767px) {
  /* line 7, sass/components/_taskbar.scss */
  .logo-header {
    float: none;
    margin: 0 auto;
  }
}

/* line 24, sass/components/_taskbar.scss */
.menu-header-wrapper a {
  color: #ffffff;
}
/* line 27, sass/components/_taskbar.scss */
.menu-header-wrapper .menu-header-categories {
  display: inline-block;
  border-right: 2px solid #ffffff;
  margin-right: 8px;
}
/* line 32, sass/components/_taskbar.scss */
.menu-header-wrapper .menu-header-categories > li {
  display: inline-block;
  margin: 0 12px;
  line-height: 41px;
}
/* line 38, sass/components/_taskbar.scss */
.menu-header-wrapper .menu-header-categories a {
  font-family: "Anonymous Pro";
  text-transform: uppercase;
}
@media (max-width: 767px) {
  /* line 27, sass/components/_taskbar.scss */
  .menu-header-wrapper .menu-header-categories {
    margin-right: 0;
    border-right: none;
    border-bottom: 2px solid #ffffff;
  }
}
/* line 50, sass/components/_taskbar.scss */
.menu-header-wrapper .social-nav {
  display: inline-block;
}
/* line 53, sass/components/_taskbar.scss */
.menu-header-wrapper .social-nav > li {
  display: inline-block;
  margin: 8px;
}
@media (min-width: 768px) {
  /* line 23, sass/components/_taskbar.scss */
  .menu-header-wrapper {
    float: right;
  }
}
@media (max-width: 767px) {
  /* line 23, sass/components/_taskbar.scss */
  .menu-header-wrapper {
    text-align: center;
  }
}

/* line 1, sass/components/_footer.scss */
.footer {
  background-color: #001423;
  text-align: center;
  padding: 24px 0 32px;
}
/* line 6, sass/components/_footer.scss */
.footer .menu-footer-categories > li {
  display: inline-block;
  margin: 0 12px;
  line-height: 41px;
}
/* line 12, sass/components/_footer.scss */
.footer .menu-footer-categories a {
  color: #ffffff;
  font-family: "Anonymous Pro";
  text-transform: uppercase;
}
/* line 19, sass/components/_footer.scss */
.footer figure {
  margin-top: 24px;
}
/* line 21, sass/components/_footer.scss */
.footer figure a {
  display: inline-block;
}

/* line 1, sass/components/_headers.scss */
.header-left-titles {
  background-image: url('img/header-preview.png?1494373940');
}
/* line 4, sass/components/_headers.scss */
.header-left-titles .header-title h1 {
  font-family: "Bebas Neue Bold";
  font-size: 84px;
  margin-top: 56px;
}
/* line 10, sass/components/_headers.scss */
.header-left-titles .header-title h2 {
  font-family: "Latin Modern Roman";
  font-size: 37px;
  margin: 40px 0;
}
/* line 16, sass/components/_headers.scss */
.header-left-titles .header-title h1, .header-left-titles .header-title h2 {
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 3, sass/components/_headers.scss */
  .header-left-titles .header-title {
    width: 736px;
    float: left;
  }
}
@media (max-width: 767px) {
  /* line 3, sass/components/_headers.scss */
  .header-left-titles .header-title {
    float: none;
    margin: 0 auto;
  }
  /* line 30, sass/components/_headers.scss */
  .header-left-titles .header-title h1, .header-left-titles .header-title h2 {
    text-align: center;
  }
}

/* line 1, sass/components/_contents.scss */
.main-content {
  padding: 80px;
}
/* line 4, sass/components/_contents.scss */
.main-content .main-title {
  font-family: "Bebas Neue Bold";
  font-size: 84px;
  position: relative;
  margin-bottom: 48px;
}
/* line 10, sass/components/_contents.scss */
.main-content .main-title::after {
  content: "";
  display: block;
  background-color: #f46e00;
  width: 120px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 1, sass/components/_buttons.scss */
.btn {
  font-family: "Anonymous Pro Bold";
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 16px;
  cursor: pointer;
  position: relative;
}
/* line 12, sass/components/_buttons.scss */
.btn:active, .btn:focus {
  outline: none;
}
/* line 16, sass/components/_buttons.scss */
.btn.disabled, .btn[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 23, sass/components/_buttons.scss */
.btn.btn-small {
  padding: 8px;
}
/* line 27, sass/components/_buttons.scss */
.btn.btn-orange {
  text-shadow: 0 -1px 0 rgba(17, 17, 17, 0.2);
  color: #ffffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF46E00', endColorstr='#FFD56000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NmUwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q1NjAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f46e00), color-stop(100%, #d56000));
  background-image: -moz-linear-gradient(#f46e00, #d56000);
  background-image: -webkit-linear-gradient(#f46e00, #d56000);
  background-image: linear-gradient(#f46e00, #d56000);
  -moz-box-shadow: inset 0 1px 0 #ff831e, inset 0 -1px 0 #b75200;
  -webkit-box-shadow: inset 0 1px 0 #ff831e, inset 0 -1px 0 #b75200;
  box-shadow: inset 0 1px 0 #ff831e, inset 0 -1px 0 #b75200;
}
/* line 12, sass/helpers/_m-button.scss */
.btn.btn-orange:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDB6300', endColorstr='#FFB75200');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiNjMwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I3NTIwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #db6300), color-stop(100%, #b75200));
  background-image: -moz-linear-gradient(#db6300, #b75200);
  background-image: -webkit-linear-gradient(#db6300, #b75200);
  background-image: linear-gradient(#db6300, #b75200);
  -moz-box-shadow: inset 0 1px 0 #ea6900, inset 0 -1px 0 #843b00;
  -webkit-box-shadow: inset 0 1px 0 #ea6900, inset 0 -1px 0 #843b00;
  box-shadow: inset 0 1px 0 #ea6900, inset 0 -1px 0 #843b00;
}
/* line 17, sass/helpers/_m-button.scss */
.btn.btn-orange:active, .btn.btn-orange.active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDB6300', endColorstr='#FFF46E00');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiNjMwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0NmUwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #db6300), color-stop(100%, #f46e00));
  background-image: -moz-linear-gradient(#db6300, #f46e00);
  background-image: -webkit-linear-gradient(#db6300, #f46e00);
  background-image: linear-gradient(#db6300, #f46e00);
  -moz-box-shadow: inset 0 1px 0 #b75200, inset 0 -1px 0 #ff831e;
  -webkit-box-shadow: inset 0 1px 0 #b75200, inset 0 -1px 0 #ff831e;
  box-shadow: inset 0 1px 0 #b75200, inset 0 -1px 0 #ff831e;
}
/* line 23, sass/helpers/_m-button.scss */
.btn.btn-orange.disabled, .btn.btn-orange[disabled] {
  background-color: #f46e00;
  color: white;
  -moz-box-shadow: inset 0 1px 0 #ea6900, inset 0 -1px 0 #ff7504;
  -webkit-box-shadow: inset 0 1px 0 #ea6900, inset 0 -1px 0 #ff7504;
  box-shadow: inset 0 1px 0 #ea6900, inset 0 -1px 0 #ff7504;
}

/* line 1, sass/components/_posts-preview.scss */
.post-preview {
  display: table;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #bcbcbc;
}
/* line 7, sass/components/_posts-preview.scss */
.post-preview:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
/* line 12, sass/components/_posts-preview.scss */
.post-preview .thumbnail {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #bcbcbc;
  overflow: hidden;
}
/* line 18, sass/components/_posts-preview.scss */
.post-preview .preview-post-title {
  font-family: "Latin Modern Roman";
  font-size: 30px;
  color: #111111;
  margin-bottom: 24px;
  display: block;
}
/* line 26, sass/components/_posts-preview.scss */
.post-preview .btn {
  margin-top: 48px;
}
@media (min-width: 768px) {
  /* line 31, sass/components/_posts-preview.scss */
  .post-preview .thumbnail {
    display: table-cell;
    width: 50%;
  }
  /* line 36, sass/components/_posts-preview.scss */
  .post-preview .post-preview-text {
    display: table-cell;
    vertical-align: top;
    padding-left: 32px;
  }
}
@media (max-width: 767px) {
  /* line 44, sass/components/_posts-preview.scss */
  .post-preview .thumbnail {
    width: 100%;
    max-height: 554px;
  }
}

/* line 1, sass/components/_meet-andre.scss */
.meet-andre-wrapper {
  background-color: #353a36;
}
/* line 4, sass/components/_meet-andre.scss */
.meet-andre-wrapper .aog-max-size-container {
  position: relative;
}
/* line 7, sass/components/_meet-andre.scss */
.meet-andre-wrapper .aog-max-size-container::before {
  visibility: visible;
  content: "";
  width: 72px;
  display: block;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 30px 40px 0;
  position: relative;
  top: 0;
  margin: 0 auto;
}
/* line 20, sass/components/_meet-andre.scss */
.meet-andre-wrapper .meet-andre-right {
  text-align: center;
  margin: 200px 0 168px;
}
/* line 25, sass/components/_meet-andre.scss */
.meet-andre-wrapper h2 {
  color: #f4d300;
  font-size: 90px;
  font-family: "Bebas Neue Bold";
  margin-bottom: 24px;
}
/* line 32, sass/components/_meet-andre.scss */
.meet-andre-wrapper p {
  color: #ffffff;
  font-size: 18px;
}
/* line 37, sass/components/_meet-andre.scss */
.meet-andre-wrapper footer {
  display: block;
  margin-top: 56px;
}
/* line 42, sass/components/_meet-andre.scss */
.meet-andre-wrapper label {
  color: #f4d300;
  font-size: 17px;
  display: inline-block;
}
/* line 48, sass/components/_meet-andre.scss */
.meet-andre-wrapper ul.meet-andre-social-nav {
  display: inline-block;
}
/* line 50, sass/components/_meet-andre.scss */
.meet-andre-wrapper ul.meet-andre-social-nav li,
.meet-andre-wrapper ul.meet-andre-social-nav a {
  color: #f4d300;
  display: inline-block;
}
@media (min-width: 768px) {
  /* line 58, sass/components/_meet-andre.scss */
  .meet-andre-wrapper .meet-andre-right {
    text-align: left;
    width: 554px;
    float: right;
  }
}
