@font-face {
  font-family: "Anonymous Pro";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/Anonymous_Pro.ttf");
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro-webfont.svg#AnonymousPro") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Anonymous Pro Bold";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/Anonymous_Pro_Bold.ttf");
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro_b-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro_b-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro_b-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro_b-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Anonymous-Pro/anonymous_pro_b-webfont.svg#AnonymousProBold") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_regular.otf");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_regular-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_regular-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_regular-webfont.svg#Bebasneue") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Bebas Neue Bold";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_bold.otf");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_bold-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_bold-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_bold-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_bold-webfont.svg#Bebasneue") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_book-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_book-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_book-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_book-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_book-webfont.svg#Bebasneue") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Bebas Neue Light";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_light-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_light-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_light-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_light-webfont.svg#Bebasneue") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Bebas Neue Thin";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_thin-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_thin-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_thin-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_thin-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Bebas-Neue/bebasneue_thin-webfont.svg#Bebasneue") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Latin Modern Roman";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Latin-Modern-Roman/lmroman10-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Latin-Modern-Roman/lmroman10-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Latin-Modern-Roman/lmroman10-regular-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Latin-Modern-Roman/lmroman10-regular-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Latin-Modern-Roman/lmroman10-regular-webfont.svg#LatinRomanModenr") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Open-Sans/OpenSans-Regular.ttf");
  src: url("/aog/wp-content/themes/aog-theme/fonts/Open-Sans/opensans-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Open-Sans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Open-Sans/opensans-regular-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Open-Sans/opensans-regular-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Open-Sans/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("/aog/wp-content/themes/aog-theme/fonts/Ubuntu/Ubuntu-Bold.ttf");
  src: url("/aog/wp-content/themes/aog-theme/fonts/Ubuntu/ubuntu-b-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/aog/wp-content/themes/aog-theme/fonts/Ubuntu/ubuntu-b-webfont.eot?#iefix") format("embedded-opentype"), url("/aog/wp-content/themes/aog-theme/fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff"), url("/aog/wp-content/themes/aog-theme/fonts/Ubuntu/ubuntu-b-webfont.ttf") format("truetype"), url("/aog/wp-content/themes/aog-theme/fonts/Ubuntu/ubuntu-b-webfont.svg#OpenSansRegular") format("svg");
  /* Legacy iOS */
}



$aog-anonymous-pro: "Anonymous Pro";
$aog-anonymous-pro-bold: "Anonymous Pro Bold";
$aog-bebas-neue-bold: "Bebas Neue Bold";
$aog-bebas-neue: "Bebas Neue";
$aog-bebas-neue-light: "Bebas Neue Light";
$aog-latin-modern-roman: "Latin Modern Roman";
$aog-open-sans: "Open Sans Regular";
$aog-ubuntu-bold: "Ubuntu Bold";