.main-content {
	padding: $spacing-10;

	.main-title {
		font-family: $aog-bebas-neue-bold;
		font-size: 84px;
		position: relative;
		margin-bottom: $spacing-6;

		&::after {
			content: "";
			display: block;
			background-color: $aog-orange;
			width: 120px;
			height: 4px;
			position: absolute;
			bottom: -$spacing-1;
			left: 0;
		}

		&.centered {
			text-align: center;

			&::after {
				left: 50%;
				margin-left: -60px;
			}
		}
	}

	&.blog-post {
		.aog-max-size-container {
			max-width: 739px;
			padding: $spacing-21 auto $spacing-9;
		}

		h1 {
			font-family: $aog-ubuntu-bold;
			font-size: 36px;
			margin-bottom: $spacing-3;
		}

		label {
			margin-bottom: $spacing-4;
		}

		.thumbnail {
			width: 100%;
			max-height: 442px;
			overflow: hidden;
			display: block;
			text-align: center;
			margin-bottom: $spacing-10;

			img {
				display: inline-block;
				width: auto;
				height: 100%;
				max-width: 100%;
			}
		}

		p {
			font-family: $aog-open-sans;
			font-size: 22px;
			line-height: 1.4;
			text-align: justify;
			margin-bottom: $spacing-5;
		}
	}
}