.header-left-titles,
.header-right-titles {
	background-image: image-url("header-preview.png");
	.header-title {
		h1 {
			font-family: $aog-bebas-neue-bold;
			font-size: 84px;
			margin-top: $spacing-7;
		}

		h2 {
			font-family: $aog-latin-modern-roman;
			font-size: 37px;
			margin: $spacing-5 0;
		}

		h1, h2 {
			text-align: left;
			text-transform: uppercase;
		}
	}

	@media (max-width: $screen-tablet-max) {
	    float: none;
	    margin: 0 auto;
	    
	    h1, h2 {
	    	text-align: center;
	    }
	}

}

@media (min-width: $screen-tablet-min) {
    
    .header-left-titles {
    	.header-title {
	    	width: 736px;
	    	float: left;
    	}
    }

    .header-right-titles {
    	.header-title {
	    	width: 736px;
	    	float: right;
    	}
    }
}