.meet-andre-wrapper {
	background-color: $aog-gray-2;
	background-image: image-url("Footer.jpg");
	background-size: cover;
	display: inline-block;
	width: 100%;

	.aog-max-size-container {
		position: relative;

		&::before {
			visibility: visible;
			content: "";
			width: 72px;
			display: block;
			border-color: #fff transparent transparent;
			border-style: solid;
			border-width: 30px 40px 0;
			position: relative;
			top: 0;
			margin: 0 auto;
		}
	}
	.meet-andre-right {
		text-align: center;
		margin: $spacing-25 0 $spacing-21;
	}

	h2 {
		color: $aog-yellow;
		font-size: 90px;
		font-family: $aog-bebas-neue-bold;
		margin-bottom: $spacing-3;
	}

	p {
		color: $aog-white;
		font-size: 18px;
	}

	footer {
		display: block;
		margin-top: $spacing-7;
	}

	label {
		color: $aog-yellow;
		font-size: 17px;
		display: inline-block;
	}

	ul.meet-andre-social-nav {
		display: inline-block;
		li,
		a {
			color: $aog-yellow;
			display: inline-block;
		}
	}

	@media (min-width: $screen-tablet-min) {
	    .meet-andre-right {
	    	text-align: left;
	    	width: 554px;
	    	float: right;
	    }
	}
}