$aog-white: #ffffff;
$aog-black: #111111;

$aog-blue: #003c7f;
$aog-blue-2: #00254f;
$aog-blue-3: #001423;
$aog-blue-4: #00305b;

$aog-orange: #f46e00;
$aog-orange-2: #b74e00;

$aog-yellow: #f4d300;

$aog-gray: #bcbcbc;
$aog-gray-2: #353a36;
$aog-gray-3: #cccccc;