$screen-desktop-max: 999px;
$screen-desktop-min: 1000px;

$screen-monitor-max: 1299px;
$screen-monitor-min: 1300x;

$screen-tablet-max: 767px;
$screen-tablet-min: 768px;

$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;
$spacing-7: 56px;
$spacing-8: 64px;
$spacing-9: 72px;
$spacing-10: 80px;
$spacing-11: 88px;
$spacing-12: 96px;
$spacing-13: 104px;
$spacing-14: 112px;
$spacing-15: 120px;
$spacing-16: 128px;
$spacing-17: 136px;
$spacing-18: 144px;
$spacing-19: 152px;
$spacing-20: 160px;
$spacing-21: 168px;
$spacing-22: 176px;
$spacing-23: 184px;
$spacing-24: 192px;
$spacing-25: 200px;